.footer-bg {
    background-color: var(--color-12);
}

.footer {
    display: grid;
    grid-template-columns: 3fr 5fr 4fr;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer .footer-contact h3, .footer .footer-information h3 {
    margin-bottom: 32px;
}

.footer .footer-contact ul {
    margin-bottom: 32px;
}

.footer .footer-contact ul li, .footer .footer-information ul li {
    margin-bottom: 16px;
}

.footer .footer-social {
    display: flex;
    gap: 32px;
}

.footer .footer-contact ul li:nth-child(even)::after {
    content: '';
    display: block;
    max-width: 360px;
    height: 2px;
    background: var(--color-11);
    margin-top: 16px;
}

.footer .footer-contact a:hover, .footer .footer-information a:hover {
    color: var(--color-00);
}

.footer .footer-copy {
    grid-column: 1 / -1;
    margin-top: 40px;
}

@media (max-width: 800px) {
    .footer > img {
        display: none;
    }

    .footer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 800px) {
    .footer {
        grid-template-columns: 1fr;
        gap: 60px;
    }

    .footer .footer-copy {
        margin-top: 0px;
    }
}
