.bikes-list {
    padding-top: 60px;
    padding-bottom: 120px;
}

.bikes-list h2 {
    margin-bottom: 40px;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.bikes-list ul {
    display: flex;
    gap: 40px;
    padding: 0px 20px 20px 20px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
}

.bikes-list ul li {
    min-width: 280px;
}

.bikes-list ul li a {
    display: block;
}

.bikes-list ul li a img {
    margin-bottom: 16px;
}

.bikes-list ul li a h3 {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.bikes-list ul li a h3::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 8px;
    margin-right: 8px;
    background: var(--color-p01);
}

.bikes-list ul li a:hover h3::before {
    width: 24px;
    transition: width 0.2s;
}

.bikes-list ul li a span {
    padding-left: 20px;
}

@media (max-width: 800px) {
    .bikes-list {
        padding-bottom: 60px;
    }

    .bikes-list ul {
        gap: 20px;
    }
}