.introduction-bg {
    background-color: var(--color-12);
    box-shadow: inset 0 -120px var(--color-00);
}

.introduction {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px 40px;
}

.introduction .introduction-content {
    align-self: end;
    padding-bottom: 200px;
}

.introduction .introduction-content h1 {
    margin-bottom: 32px;
}

.introduction .introduction-content p {
    margin-bottom: 20px;
}

.introduction div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

@media (max-width: 800px) {
    .introduction-bg {
        background-color: var(--color-12);
        padding-top: 40px;
        box-shadow: inset 0 -60px var(--color-00);
    }

    .introduction {
        grid-template-columns: 1fr;
        gap: 32px;
    }

    .introduction .introduction-content {
        padding-bottom: 0px;
    }

    .introduction .introduction-content h1 {
        margin-bottom: 16px;
    }

    .introduction div img {
        height: 300px;
        width: 100%;
    }
}
